# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/**
site/vendor/
site/benchmark/vendor/
benchmark/node_modules/
test/boost/**
test/fastjet/**
test/voronoi++/**
test/ivank/**
test/shaneosullivan/**
external

.vscode
**/.DS_Store
tmp
